
.body{
    
    /* background-color:#a88f59; */
	background-color: black;
}

.shops {
  margin: 25px;
  border: 1px gold;
  float: left;
  width: 100px;
  margin-left:10%;
 }
 
 div.shops:hover {
  border: 3px solid #666;
}



div.shops img {
	height: auto;
    width: 100%;
	border: gold;
	margin-left:auto;
}

div.discription {
	text-align: center;
    padding: 20px;
	font-weight:bold;
	color: gold;
	margin-left:auto;
 }
 
body{
	background-color:black;
	background-size: 100%;
}
body{
    
    background-color:white;
}


.a5{
	background-color:goldenrod;
}
*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
	
	height: 100vh;
	background-size: cover;
	background-position: center;
}
#b1 a {
    float: left;
    margin-left: 15px;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
}

#b1 a:hover {
    background-color:goldenrod; 
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}

#b1 a.active {
    background-color:black;
    color: white;
    border-radius: 20px;
    transition: 0.5s;
}

#b1 a.active:hover {
    border-radius: 20px;
    background-color: #f0e798;
    
    transition: 0.5s; 
}
.a1{
	text-decoration: none;
    font-size: 30px;
    line-height: 5px;
    color: gold;
	position:absolute;
}
.a3{
	
	height:3px;
	background-color:goldenrod;
	width : 100%;
	margin-top:-1px;
}
ul{

	float:right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}

ul li a
{
	text-decoration: none;
	color:#fff;
	padding:5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover
{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;

}
.searchbar{
	width:100%;
	height:40px;
}
.searchbar input
{
	position:center;
	margin-left:10%;
	
}

.searchbar input[type=text]
{
	width: 80%;
	padding-top:5px;
	padding-bottom:5px;
	color:black;
	
}


	.aaa{
		width: 50px;
		height: 50px;
		position: absolute;
		right: 40px;
		top: 30px;
	}
.logo img{
	float:left;
	width:100px;
	height: 80px;
	margin-top: 10px;
	
}


.deli{
	float:left;
	position: absolute;
	width:160px;
	height:160px;
	top: 50px;
	
	
	
}

.fb{	

	width: 35px;
    height: 35px;
    position: absolute;
    right: 60px;
    top: 40px;

	
	
}

.twt{	

	width: 35px;
    height: 35px;
    position: absolute;
    right: 60px;
    top: 80px;
}

.youtube{	

	width: 35px;
    height: 35px;
    position: absolute;
    right: 60px;
    top: 120px;

}
.insta{	

	width: 35px;
    height: 35px;
    position: absolute;
    right: 60px;
    top: 160px;
}

.maestro{	

	width: 35px;
    height: 35px;
    position: absolute;
    right: 150px;
    top: 160px;
}

.visa{	

	width: 35px;
    height: 35px;
    position: absolute;
    right: 220px;
    top: 160px;
}



.main{
	max-width: 1200px;
	margin:auto;
	 background-color: black;
    
    
}

.h1{
		 font-family: sans-serif;
		color:goldenrod;
		font-size:18px;
		position: absolute;
		top: 30px;
		left:40%;
}

.h2{
		 font-family: sans-serif;
		color:goldenrod;

		font-size:18px;
		position: absolute;
		top: 30px;
		left:60%;
}

.h3{
		 font-family: sans-serif;
		color:goldenrod;
		font-size:18px;
		position: absolute;
		top: 30px;
		left:75%;
}



.title{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color:#fff;
	font-size: 70px;
}


.button{
	position: absolute;
	top:63%;
	left:50%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color:#fff;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover{
	background-color: #fff;
	color: #000;

}

.blackbox{
    width: 100%;
    height: 200px;
    background-color: black;
    color: #fff;
    margin-top:0px;
    left: 50%;
    position:absolute;
    opacity: 0.6;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 25px 10px;
}




.blackbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: azure;
	position:absolute;
	left: 40%;
	font-family: sans-serif;
}




.blackbox a:hover{
    color: grey;
}

.p1{
	 font-family: sans-serif;
		color:white;
		font-size:15px;
		position: absolute;
		top: 30px;	
	    left: 15%;		
}

.p2{
	 font-family: sans-serif;
		color:white;
		font-size:15px;
		position: absolute;
		top: 60px;
		 left: 15%;	
				
}

.p3{
	 font-family: sans-serif;
		color:white;
		font-size:15px;
		position: absolute;
		top: 90px;
		 left: 15%;	
}

.p4{
	 font-family: sans-serif;
		color:white;
		font-size:15px;
		position: absolute;
		top: 120px;		
		 left: 15%;	
}

.p5{
	 font-family: sans-serif;
		color:white;
		font-size:15px;
		position: absolute;
		top: 150px;		
		 left: 15%;	
}

.p6{
	 font-family: sans-serif;
		color:white;
		font-size:15px;
		position: absolute;
		top: 60px;	
	    left: 60%;		
}

.p7{
	 font-family: sans-serif;
		color:white;
		font-size:15px;
		position: absolute;
		top: 90px;
		 left: 60%;	
				
}

.p8{
	 font-family: sans-serif;
		color:white;
		font-size:15px;
		position: absolute;
		top: 120px;
		left: 60%;	
}

.p9{
	 font-family: sans-serif;
		color:white;
		font-size:15px;
		position: absolute;
		top: 150px;
		 left: 60%;	
}

.p10{
	 font-family: sans-serif;
		color:white;
		font-size:15px;
		position: absolute;
		top: 180px;		
		 left: 60%;	
}

.p11{
	 font-family: sans-serif;
		color:white;
		font-size:15px;
		position: absolute;
		top: 210px;		
		 left: 60%;	
}

.p12{
	 font-family: sans-serif;
		color:white;
		font-size:15px;
		position: absolute;
		top: 60px;	
	    left: 75%;		
}

.p13{
	 font-family: sans-serif;
		color:white;
		font-size:15px;
		position: absolute;
		top: 90px;
		 left: 75%;	
				
}
.p{
	text-align:center;
	color:gold;
	font-weight:bold;
	margin-bottom:10px;
	font-size:30px;
}
	